.basic {
  font-family: "Courier New", Courier, monospace;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.largeFont {
  font-size: 10vh;
}

.mediumFont {
  font-size: 7vh;
}

.smallFont {
  font-size: 7vh;
}

.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}

.hardChange {
  font-size: 2em;
}

.smoothChange {
  font-size: 1em;
  animation-duration: 0.1s;
  animation-name: changeFontSize;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes changeFontSize {
  from {
    font-size: 1em;
  }

  to {
    font-size: 2em;
  }
}

.waveChange {
  font-size: 20vh;
  animation-duration: 1s;
  animation-name: changeHeightSize;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes changeHeightSize {
  from {
    font-size: 20vh;
  }

  to {
    font-size: 40vh;
  }
}
